span
  | &copy; 
  | {{app.year}}
  |  - {{ app.name }}

span.pull-right
  a(href="http://www.occudiz.com/termsandconditions",target="_blank")
    | Terms &amp; Conditions
  span
    | &nbsp;- &nbsp;
  a(href="http://www.occudiz.com/privacypolicy",target="_blank")
    | Privacy Policy